/* Altura por defecto en celulares */
.noticia-img-detalle-pc img {
  height: auto; 
}

/* SOLO EN PC */
@media (min-width: 992px) {
  .noticia-img-detalle-pc {
    height: 600px !important;
    overflow: hidden !important;
  }
  
  .noticia-img-detalle-pc img {
    height: 100% !important; /* Forzamos a que ocupe todo el alto del contenedor */
    min-height: 450px !important;
    object-fit: cover !important;
  }
}